<div class="container">
    <h2><oda-label oda-label-value="modeManage.title"/></h2>

    <div class="row">
        <div class="col-md-12">
            <oda-label oda-label-value="modeManage.hello"/>
        </div>
        <div class="col-md-12">
            <oda-input-select 
                oda-input-select-name="modeId" 
                oda-input-select-label="modeManage.modeChoose"
                oda-input-select-availables="[]"
                oda-input-select-display="'general.'+elt.code"
                oda-input-select-response="elt.id"
                oda-input-select-order="asc"
                required/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" id="newCard">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" id="tabCards">
        </div>
    </div>
</div>

<script id="btNewCard" type="text/template">
    <oda-btn oda-btn-name="submit" oda-btn-style="success" oda-btn-icon-before="ok" oda-btn-click="$.Oda.App.Controler.ModeManage.newCard();">modeManage.newCard</oda-btn>
</script>

<script id="tplPopupCardContent" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <oda-input-text
                oda-input-text-name="id"
                oda-input-text-type="number"
                oda-input-text-label="modeManage.id"
                oda-input-text-check="Oda.Regexs:noInjection" 
                oda-input-text-value="{{id}}"
                {{(active!==null)?'disabled':''}}
                required/>
        </div>
        <div class="col-md-6">
            <oda-input-checkbox 
                oda-input-checkbox-name="active" 
                oda-input-checkbox-label="modeManage.active" 
                oda-input-checkbox-value="{{(active==='1')?'true':'false'}}" 
                required
                style="{{(active===null)?'display:none':''}}"
                />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <oda-input-text
                oda-input-text-name="nameFr"
                oda-input-text-type="text"
                oda-input-text-label="modeManage.nameFr"
                oda-input-text-check="Oda.Regexs:noInjection" 
                oda-input-text-value="{{nameFr}}"
                required/>
        </div>
        <div class="col-md-6">
            <oda-input-text
                oda-input-text-name="nameEn"
                oda-input-text-type="text"
                oda-input-text-label="modeManage.nameEn"
                oda-input-text-check="Oda.Regexs:noInjection" 
                oda-input-text-value="{{nameEn}}"
                required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <oda-input-select 
                oda-input-select-name="quality" 
                oda-input-select-label="modeManage.quality"
                oda-input-select-value="{{quality}}"
                oda-input-select-availables="['Commune','Rare','Épique','Légendaire']"
                oda-input-select-order="asc"
                required/>
        </div>
        <div class="col-md-6">
            <oda-input-select 
                oda-input-select-name="race" 
                oda-input-select-label="modeManage.race"
                oda-input-select-value="{{race}}"
                oda-input-select-availables="['Bête','Démon','Dragon','Élémentaire','Méca','Murloc','Pirate','Totem']"
                oda-input-select-order="asc"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <oda-input-select 
                oda-input-select-name="classe" 
                oda-input-select-label="modeManage.classe"
                oda-input-select-value="{{classe}}"
                oda-input-select-availables="['Chaman','Chasseur','Démoniste','Druide','Guerrier','Mage','Neutre','Paladin','Prêtre','Voleur']"
                oda-input-select-order="asc"
                required/>
        </div>
        <div class="col-md-6">
            <oda-input-select 
                oda-input-select-name="type" 
                oda-input-select-label="modeManage.type"
                oda-input-select-value="{{type}}"
                oda-input-select-availables="['Arme','Serviteur','Sort']"
                oda-input-select-order="asc"
                required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <oda-input-text
                oda-input-text-name="cost"
                oda-input-text-type="number"
                oda-input-text-label="modeManage.cost"
                oda-input-text-check="Oda.Regexs:noInjection" 
                oda-input-text-value="{{cost}}"
                required/>
        </div>
        <div class="col-md-4">
            <oda-input-text
                oda-input-text-name="attack"
                oda-input-text-type="number"
                oda-input-text-label="modeManage.attack"
                oda-input-text-check="Oda.Regexs:noInjection" 
                oda-input-text-value="{{attack}}"
                required/>
        </div>
        <div class="col-md-4">
            <oda-input-text
                oda-input-text-name="life"
                oda-input-text-type="number"
                oda-input-text-label="modeManage.life"
                oda-input-text-check="Oda.Regexs:noInjection" 
                oda-input-text-value="{{life}}"
                required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <oda-input-area
                oda-input-area-name="desc"
                oda-input-area-label="modeManage.desc"
                oda-input-area-value="{{desc}}"/>
        </div>
    </div>
</script>

<script id="tplPopupCardNew" type="text/template">
    <oda-btn oda-btn-name="submitFinishAndNew" oda-btn-style="primary" oda-btn-enter="10" oda-btn-click="$.Oda.App.Controler.ModeManage.finishAndNewSubmit();" disabled>modeManage.finishAndNew</oda-btn>
    <oda-btn oda-btn-name="submitNewCard" oda-btn-style="success" oda-btn-click="$.Oda.App.Controler.ModeManage.newCardSubmit();" disabled>modeManage.finish</oda-btn>
</script>

<script id="tplPopupCardUpdate" type="text/template">
    <oda-btn oda-btn-name="submitNewCard" oda-btn-style="success" oda-btn-enter="20" oda-btn-click="$.Oda.App.Controler.ModeManage.editCardSubmit();" disabled>modeManage.finish</oda-btn>
</script>

<script>
    $.Oda.App.Controler.ModeManage.start();
</script>