<div class="container">
    <h2 oda-label="modeManage.title"></h2>

    <div class="row">
        <div class="col-md-12">
            <span oda-label="modeManage.hello"></span>
        </div>
        <div class="col-md-12">
            <label for="modeId" oda-label="modeManage.modeChoose">modeManage.modeChoose</label>
            <select class="form-control" oda-input-select="modeId" required>
                <option value="" oda-label="oda-main.select-default"></option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" id="newCard">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" id="tabCards">
        </div>
    </div>
</div>

<script id="btNewCard" type="text/template">
    <button type="button" oda-submit="submit" onclick="$.Oda.App.Controler.ModeManage.newCard();" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;</span><label oda-label="modeManage.newCard"></label></button>
</script>

<script id="tplPopupCardContent" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="id" oda-label="modeManage.id">modeManage.id</label>
                <input required value="{{id}}" {{(active!==null)?'disabled':''}} type="number" class="form-control" oda-input-text="id" oda-input-text-tips="modeManage.id-tips" oda-input-text-placeholder="modeManage.id-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" style="{{(active===null)?'display:none':''}}">
                <label oda-label="modeManage.active">modeManage.active</label>
                <div class="checkbox">
                    <input type="checkbox" oda-input-checkbox="active" {{(active==='1')?'checked':''}}>
                    <label oda-label="modeManage.active">
                        modeManage.active
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nameFr" oda-label="modeManage.nameFr">modeManage.nameFr</label>
                <input required value="{{nameFr}}" type="text" class="form-control" oda-input-text="nameFr" oda-input-text-tips="modeManage.nameFr-tips" oda-input-text-placeholder="modeManage.nameFr-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="nameEn" oda-label="modeManage.nameEn">modeManage.nameEn</label>
                <input required value="{{nameEn}}" type="text" class="form-control" oda-input-text="nameEn" oda-input-text-tips="modeManage.nameEn-tips" oda-input-text-placeholder="modeManage.nameEn-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="quality" oda-label="modeManage.quality">modeManage.quality</label>
                <select class="form-control" oda-input-select="quality" required>
                    <option {{(quality==="")?'selected':''}} value="" oda-label="oda-main.select-default"></option>
                    <option {{(quality==="Commune")?'selected':''}} value="Commune">Commune</option>
                    <option {{(quality==="Rare")?'selected':''}} value="Rare">Rare</option>
                    <option {{(quality==="Épique")?'selected':''}} value="Épique">Épique</option>
                    <option {{(quality==="Légendaire")?'selected':''}} value="Légendaire">Légendaire</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="race" oda-label="modeManage.race">modeManage.race</label>
                <select class="form-control" oda-input-select="race">
                    <option {{(race==="")?'selected':''}} value="" oda-label="oda-main.select-default"></option>
                    <option {{(race==="Bête")?'selected':''}} value="Bête">Bête</option>
                    <option {{(race==="Démon")?'selected':''}} value="Démon">Démon</option>
                    <option {{(race==="Dragon")?'selected':''}} value="Dragon">Dragon</option>
                    <option {{(race==="Élémentaire")?'selected':''}} value="Élémentaire">Élémentaire</option>
                    <option {{(race==="Méca")?'selected':''}} value="Méca">Méca</option>
                    <option {{(race==="Murloc")?'selected':''}} value="Murloc">Murloc</option>
                    <option {{(race==="Pirate")?'selected':''}} value="Pirate">Pirate</option>
                    <option {{(race==="Totem")?'selected':''}} value="Totem">Totem</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="classe" oda-label="modeManage.classe">modeManage.classe</label>
                <select class="form-control" oda-input-select="classe" required>
                    <option {{(classe==="")?'selected':''}} value="" oda-label="oda-main.select-default"></option>
                    <option {{(classe==="Chaman")?'selected':''}} value="Chaman">Chaman</option>
                    <option {{(classe==="Chasseur")?'selected':''}} value="Chasseur">Chasseur</option>
                    <option {{(classe==="Démoniste")?'selected':''}} value="Démoniste">Démoniste</option>
                    <option {{(classe==="Druide")?'selected':''}} value="Druide">Druide</option>
                    <option {{(classe==="Guerrier")?'selected':''}} value="Guerrier">Guerrier</option>
                    <option {{(classe==="Mage")?'selected':''}} value="Mage">Mage</option>
                    <option {{(classe==="Neutre")?'selected':''}} value="Neutre">Neutre</option>
                    <option {{(classe==="Paladin")?'selected':''}} value="Paladin">Paladin</option>
                    <option {{(classe==="Prêtre")?'selected':''}} value="Prêtre">Prêtre</option>
                    <option {{(classe==="Voleur")?'selected':''}} value="Voleur">Voleur</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="type" oda-label="modeManage.type">modeManage.type</label>
                <select class="form-control" oda-input-select="type" required>
                    <option {{(type==="")?'selected':''}} value="" oda-label="oda-main.select-default"></option>
                    <option {{(type==="Arme")?'selected':''}} value="Arme">Arme</option>
                    <option {{(type==="Serviteur")?'selected':''}} value="Serviteur">Serviteur</option>
                    <option {{(type==="Sort")?'selected':''}} value="Sort">Sort</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="cost" oda-label="modeManage.cost">modeManage.cost</label>
                <input required value="{{cost}}" type="number" class="form-control" oda-input-text="cost" oda-input-text-tips="modeManage.cost-tips" oda-input-text-placeholder="modeManage.cost-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="attack" oda-label="modeManage.attack">modeManage.attack</label>
                <input required value="{{attack}}" type="number" class="form-control" oda-input-text="attack" oda-input-text-tips="modeManage.attack-tips" oda-input-text-placeholder="modeManage.attack-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="life" oda-label="modeManage.life">modeManage.life</label>
                <input required value="{{life}}" type="number" class="form-control" oda-input-text="life" oda-input-text-tips="modeManage.life-tips" oda-input-text-placeholder="modeManage.life-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label oda-label="modeManage.desc">modeManage.desc</label>
                <textarea class="form-control" rows="2" oda-input-text="desc">{{desc}}</textarea>
            </div>
        </div>
    </div>
</script>

<script id="tplPopupCardNew" type="text/template">
    <button type="button" oda-label="modeManage.finishAndNew" oda-submit="submitFinishAndNew" onclick="$.Oda.App.Controler.ModeManage.finishAndNewSubmit();" class="btn btn-primary disabled" disabled>Submit</button >
    <button type="button" oda-label="modeManage.finish" oda-submit="submitNewCard" onclick="$.Oda.App.Controler.ModeManage.newCardSubmit();" class="btn btn-success disabled" disabled>Submit</button >
</script>

<script id="tplPopupCardUpdate" type="text/template">
    <button type="button" oda-label="modeManage.finish" oda-submit="submitNewCard" onclick="$.Oda.App.Controler.ModeManage.editCardSubmit();" class="btn btn-success disabled" disabled>Submit</button >
</script>

<script>
    $.Oda.App.Controler.ModeManage.start();
</script>